@media (max-width: 1200px) {
  .container {
    max-width: 940px;
  }
}
@media (max-width: 950px) {
  .container {
    margin: 0 40px 0 40px;
  }

  .mainBlock__container {
    margin-right: 0;
  }

  .vacancyBlock__container {
    margin-right: 0;
  }
}