* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Euclid Circular B", sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.tel-number {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-right: 32px;
  text-decoration: none;
}

.form-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background: #FFDF31;
  border-radius: 8px;
  padding: 12px 16px;
  text-decoration: none;
}
.form-btn:hover {
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.block-title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  color: #000000;
  margin-top: 70px;
  margin-bottom: 32px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo-text {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  color: #000000;
  margin-left: 16px;
}

.share-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  color: #000000;
  text-decoration: none;
}
.share-btn:hover {
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__phone-icon {
  display: none;
}

.mobile-form-btn-wrap {
  display: none;
}

.mainBlock {
  background: #F5F5F5;
}
.mainBlock__container {
  max-width: 1110px;
  margin: 0 auto;
}
.mainBlock__slider {
  position: relative;
}

.mainSlider-swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainSlider-swiper-slide__title {
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 66px;
  color: #000000;
  max-width: 300px;
  margin-top: 48px;
}

.mainSlider-swiper-buttons {
  position: absolute;
  bottom: 48px;
  background: #FFFFFF;
  border-radius: 8px;
  z-index: 2;
}

.mainSlider-swiper-buttons__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.mainSlider-swiper-button-prev {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  padding: 10px 12px 8px 8px;
}

.mainSlider-swiper-button-next {
  padding: 10px 8px 8px 12px;
}

.mainSlider-swiper-button-prev-next:hover {
  -webkit-box-shadow: 0 0 5px 2px gray;
          box-shadow: 0 0 5px 2px gray;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mainSlider-swiper-buttons__lineBetween {
  display: block;
  width: 1px;
  background-color: #F5F5F5;
}

.mainSlider-swiper-button-prev-next {
  outline: none;
  cursor: pointer;
}

.mainSlider-swiper-slide__img {
  -webkit-clip-path: circle(57.3% at 51% 50%);
          clip-path: circle(57.3% at 51% 50%);
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: bottom;
}

.mainSlider-swiper-slide__imgBox {
  position: relative;
}

.mainSlider-swiper-slide__text {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  position: absolute;
  background: #FFFFFF;
  border-radius: 1000px;
  padding: 12px 16px;
}

.mainSlider-swiper-slide1__work {
  top: 55px;
  right: 116px;
}

.mainSlider-swiper-slide1__name {
  bottom: 55px;
  left: 130px;
}

.swiper-slide {
  height: auto;
}

.mainSlider-swiper-slide2__work {
  bottom: 55px;
  right: 116px;
}

.mainSlider-swiper-slide2__name {
  top: 55px;
  left: 130px;
}

.vacancyBlock {
  overflow: hidden;
}
.vacancyBlock__container {
  position: relative;
}

.vacancySlider-container {
  overflow: visible;
}

.vacancySlider-swiper-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 160px;
}

.swiper-button-disabled {
  opacity: 0.2;
}

.vacancySlider-swiper-button-prev {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.vacancySlider-swiper-button-next {
  padding-right: 0;
}

.vacancySlider-swiper-button-prev-next {
  outline: none;
  cursor: pointer;
  padding: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.vacancySlider-swiper-button-prev-next:hover {
  -webkit-box-shadow: 0 0 5px 2px gray;
          box-shadow: 0 0 5px 2px gray;
  border-radius: 30px;
}

.vacancySlider-swiper-slide__work {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  background: #FFFFFF;
  border-radius: 1000px;
  display: inline-block;
  padding: 12px 16px;
  margin-left: 24px;
  margin-top: 24px;
}

.vacancySlider-swiper-slide__img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 0 auto;
  min-height: 416px;
  max-width: 100%;
}

.vacancySlider-swiper-slide {
  position: relative;
  background: #F5F5F5;
  border-radius: 8px;
  max-height: 482px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  cursor: pointer;
  overflow: hidden;
  min-width: 252px;
}
.vacancySlider-swiper-slide:hover .vacancySlider-swiper-slide__overlay {
  top: 0;
}
.vacancySlider-swiper-slide:hover .vacancySlider-swiper-slide__work {
  position: absolute;
  z-index: 1;
}
.vacancySlider-swiper-slide:hover .vacancySlider-swiper-slide__img {
  margin-top: 78px;
}

.vacancySlider-swiper-slide__overlay {
  position: absolute;
  top: 120%;
  width: 100%;
  height: 100%;
  background: #FFDF31;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.vacancySlider-swiper-slide__overlay-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #000000;
  margin: 0 24px 24px 24px;
}

.instaBlock__gallery {
  position: relative;
  max-height: 540px;
  overflow: hidden;
  -webkit-transition: ease-in-out 0.6s;
  transition: ease-in-out 0.6s;
}
.instaBlock__gallery.active {
  max-height: 2000px;
  -webkit-transition: ease-in-out 0.6s;
  transition: ease-in-out 0.6s;
}
.instaBlock__gallery-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.instaBlock__gallery-bottom-wrap {
  margin-top: 30px;
}
.instaBlock__bigBox {
  position: relative;
  display: inline-block;
  padding-left: 48.7%;
  padding-bottom: 48.7%;
}
.instaBlock__wideBox {
  display: none;
  position: relative;
  padding-left: 100%;
  padding-bottom: 30.6%;
  margin-top: 30px;
}
.instaBlock__wideBox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.instaBlock__wideSmallBox {
  width: 30.6%;
}
.instaBlock__bigBox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}
.instaBlock__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.instaBlock__img {
  background: #F5F5F5;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.instaBlock__smallBox {
  width: 47.2%;
  height: 47.2%;
}
.instaBlock-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background: #F5F5F5;
  border-radius: 8px;
  padding: 12px 0;
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
}
.instaBlock-btn:hover {
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.instaBlock__bigBox-tablet {
  display: none;
}

.instaBlock__boxes-mobile {
  display: none;
}

.instaBlock__gallery-bottom-wrap {
  display: none;
}

.instaBlock__gallery-bottom-wrap.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.instaBlock-hide-btn {
  display: none;
}

.instaBlock-showMore-btn.active {
  display: none;
}

.instaBlock-hide-btn.active {
  display: block;
}

.geoBlock {
  margin-bottom: 72px;
}
.geoBlock__container {
  max-width: 1110px;
  margin: 0 auto;
}
.geoBlock__map {
  max-width: 100%;
  height: 540px;
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

[class*=ymaps-2][class*=-ground-pane] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(1);
}

.ymaps-2-1-78-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-78-copyright__agreement {
  display: none;
}

.map-zoom-buttons {
  background: #FFFFFF;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map-zoom-btn {
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.map-zoom-btn-plus {
  background: url("../img/mapPlusIcon.png") no-repeat center;
}

.map-zoom-line {
  height: 1px;
  max-width: 100%;
  background-color: #F5F5F5;
  display: block;
  margin: 0 7px;
}

.map-zoom-btn-minus {
  background: url("../img/mapMinusIcon.png") no-repeat center;
}

.map-btn {
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  left: 100px;
  margin-left: 24px;
}

.map-btn-fullscreen {
  background-color: #FFDF31;
}

.map-btn:hover {
  background-color: #FFDF31;
}

.map-btn.active {
  background-color: #FFDF31;
}

.map-btn__text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.footer {
  background: #F5F5F5;
  padding-top: 72px;
}
.footer__wrapper {
  background: #FFFFFF;
  border-radius: 8px;
}
.footer__content {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__iconBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__iconBox-faceIcon {
  margin-right: 8px;
}
.footer__icon {
  cursor: pointer;
}
.footer__icon:hover {
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.footer__bottomWrapper {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 32px;
}
.footer__bottomWrapper-text {
  margin-right: 247px;
}